#container {
  background-color:green;
  height:500px;
  width:1000px;
  position:relative;
  color:black;
  font-weight:bold;
  border-spacing:20px 75px;
}

.animate {
  background-color:red;
  height:400px;
  width:300px;
  position:relative;
  border:5px solid white;
  border-spacing: 10px;
}

.checker {
  height:400px;
  width:300px;
    background-image:
      -moz-linear-gradient(45deg, #000 25%, transparent 25%), 
      -moz-linear-gradient(-45deg, #000 25%, transparent 25%),
      -moz-linear-gradient(45deg, transparent 75%, #000 75%),
      -moz-linear-gradient(-45deg, transparent 75%, #000 75%);
    background-image:
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #000), color-stop(.25, transparent)), 
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #000), color-stop(.25, transparent)),
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #000)),
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #000));

    -moz-background-size:100px 100px;
    background-size:100px 100px;
    -webkit-background-size:75px px; /* override value for shitty webkit */
    
    background-position:0 0, 50px 0, 50px -50px, 0 50px;
}

.face {
  display:none;
}

.blink {
  text-align:center;
  background-color:grey;
}